.budget__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add__budget-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 12px;
  padding: 1rem;
  background: #2563eb;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

.budget__item {
  display: flex;
  justify-content: center;
}

/* Narrow header container */
.budget__card {
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: box-shadow 0.25s ease;
  margin-top: 15px;
}

.budget__card-body {
  left: 0;
  top: 100%; /* sits right under the header */
  width: 100%;
  z-index: 50;

  border-radius: 0 0 16px 16px;

  overflow: hidden;
  max-height: 0;
  transition: max-height 0.35s ease;
  overflow-y: scroll;
}

.budget__card--open.budget__card-body {
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.12);
}

.budget__card-header {
  width: 100%;
  padding: 1rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f9fafb;
  border-style: none;
  position: relative;
}

.budget__card-header_text {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.budget__name {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.budget__card-title {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
  background: transparent;
  border-style: none;
}

.budget__card-title_type {
  margin-bottom: 0;
  align-items: baseline;
}

.budget__card-subtitle {
  margin: 0;
  font-size: 0.8rem;
  color: #6b7280;
}

.budget__card-chev {
  font-size: 1.25rem;
  transition: transform 0.25s ease;
  margin-top: auto;
}

.budget__card--open .budget__card-chev {
  transform: rotate(180deg);
}

.budget__delete-btn {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent url(../images/X-icon.svg) center no-repeat;
  border: none;
  position: absolute;
  top: -2px;
  right: 5px;
  cursor: pointer;
}
